@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url("https://i.ibb.co/ZGLL0tj/image-4.png");
    background-size: cover; 
    background-repeat: no-repeat; 
}

::-webkit-scrollbar {
    display: none;
}